body {
  font-family: "Inter", sans-serif;
  background-color: black;
}
header {
  height: 100vh;
  color: white;
}

header h1 {
  margin-top: 30px;
}

ul {
  margin-top: 200px;
  margin-left: -200px;
  font-size: 15px;
}

h1 {
  margin-left: 60px;
}

nav {
  margin: 0 auto;
  display: block;
}

.nav-link,
.navbar-brand {
  color: #ffffff;
}
.nav-link:visited,
.navbar-brand:visited {
  color: #51b6c0;
}
.header-card {
  -webkit-box-reflect: above;
}

.subscribe {
  color: black;
  background-color: rgb(209, 198, 198);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 9px 9px;
  padding: 5px 5px;
  margin-left: 40px;
}

.ui-kit-title {
  margin-left: 30px;
  margin: 0 !important;
}
.ui-kit-title h2 {
  margin-top: 120px;
  margin-left: 30px;
  font-size: 70px;
  color: white;
  margin: 0 !important;
}

.ui-kit-title h4 {
  font-size: 40px;
  margin-left: 20px;
  color: white;
}

.ui-kit-title h5,
.website-three h2 {
  font-size: 30px;
  background-image: linear-gradient(to left, #c5c5c5, #ffffff, #242427);
  font-size: 30px;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui-kit {
  height: 300vh;
  display: flex;
}
.background {
  width: 50%;
  height: 118vh;
  display: flex;
  justify-content: start;

  background-color: black;
}

.ui-kit-examples {
  width: 60%;
}

.website,
.website-one,
.website-two,
.website-three {
  display: flex;
  flex-direction: column;
}

.website-one,
.website-two {
  border: 1px solid black;
  background-color: black;
  height: 118vh;
}

.website-three {
  background-color: black;
  border: 1px solid white;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}

.website-one h3 {
  margin-top: 40px;
}

.website-one h3,
p {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}
li {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px 15px;
  padding: 12px 12px;
  background-color: white;
  color: black;
}
.border {
  background-color: rgba(229, 229, 229, 1);
  height: 110vh;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  margin-top: 30px;
  margin-right: 40px;
}
.col-sm-5 {
  margin-top: 120px;
}
.nft-title {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  font-weight: 7px;
}

.nft-description {
  font-size: 7px;
  color: grey;
}

.nft-button {
  padding: 4px 4px;
  width: 100px;
  background-color: black;
  border-radius: 8px 8px;
  color: white;
  margin-left: 30px;
  font-size: 10px;
}
.cards {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  margin-top: 20px;
  height: 50vh;
  width: 50vh;
}
.nft-trust,
.nft-paragraph {
  border: 1px solid black;
  border-radius: 15px 15px;
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
}

.nft-trust h3 {
  margin-top: -1px;
  color: white;
}

.nft-list,
.digital-eyes {
  display: flex;
  justify-content: center;
  align-content: center;
}

.nft-blocks {
  border: 1px solid white;
  background-color: white;
  border-radius: 7px 7px;
  padding: 12px 12px;
  font-size: 11px;
  color: black;
  margin-left: 7px;
  font-weight: 100px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 3px 4px 5px 6px;
}
.nft-paragraph h4 {
  font-size: 25px;
}
.nft-paragraph {
  margin-top: 30px;
  color: white;
  padding: 7px 7px;
}
.digital-list {
  border: 1px solid white;
  background-color: white;
  border-radius: 7px 7px;
  color: black;
  font-size: 8px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-content: space-evenly, space-between;
  width: 100px;
  margin-left: 13px;
}

.digital-list-1 {
  background-color: rgba(255, 255, 255, 0.258);
  font-size: 8px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-content: space-evenly, space-between;
  width: 100px;
  margin-left: 13px;
  border-radius: 4px 4px;
}

.website-two {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
}
.website-two-content h2 {
  text-align: center;
}

.website-two-content {
  margin-top: 150px;
  margin-left: 30px;
  margin-right: 20px;
}

.web2-blocks1 {
  background-color: white;
  border-radius: 7px 7px;
  color: rgb(248, 134, 248);
}

.web2-blocks {
  background-color: rgba(255, 255, 255, 0.251);
  color: rgba(255, 255, 255, 0.427);
  padding: 18px 18px;
  border-radius: 7px 7px;
}
.web2-blocks p,
.web2-blocks1 p {
  display: flex;
  justify-content: end;
  font-size: 20px;
}

.website-three h2 {
  color: white;
  font-size: 80px;
  text-align: center;
}

.web3-list {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.navlink {
  color: white;
  background-color: none;
}

.web3-list2 {
  color: white;
}
.web3-list2 h6 {
  margin-top: 50px;
  font-size: 20px;
}
.web3-list2 p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.495);
}
